:root {
    /* ### Primary */

    --Pale-blue: #e0e8ff;
    --Bright-blue: #3829e0;

    /* ### Neutral */

    --Very-pale-blue: #f5f7ff;
    --Desaturated-blue: #7280a7;
    --Dark-blue: #1f2f56;
}


* {
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;

    margin: 0;
    padding: 0;
}

.background {
    background-color: #E0E8FF;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0 2rem;
    max-width: 28.125rem;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.card__text {
    margin: 2rem;
}

.card__headline {
    color: var(--Dark-blue);
    font-size: 1.375rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.card__paragraph {
    color: var(--Desaturated-blue);
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 25px;
}

.card-wrapper__subscription {
    background-color: var(--Very-pale-blue);
    border-radius: 11px;
    margin: 1.5rem;
    padding: 1rem;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}